@model primerKolokviumska2.Models.AddToStore
@{
    ViewBag.Title = "AddToStore";
}

<h2>Add To Store: @ViewBag.StoreName</h2>

@using (Html.BeginForm("AddToStore", "Stores"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.selectedAlbum, new SelectList(Model.Albums, "Id", "Name"))
    </div>
    <input class="btn btn-default" type="submit" value="Add to store" />
    @Html.HiddenFor(m => m.storeId)
}

